body {
  background-image: url(
    https://i.pinimg.com/564x/2b/69/23/2b6923afe27bbb856de921d6c31112e6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container,
.search-bar input {
  display: grid;
  justify-content: center;
}

.list-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  list-style-type: none;
}
.card {
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.card-details {
  border: 1px solid white;
  padding-right: 30px;
  background-color: white;
}

.search-bar input {
  width: 70vw;
  height: 50px;
  font-style: italic;
  margin-left: 35px;
}
